// HAMBURGER MENU
/* Hamburger Menu */

.disabled {
  pointer-events: none;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: '';
  position: absolute;
  width: 24px;
  height: 2px;
  top: 5;
  left: 0;
  background: #9c9aa6;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

$primary: #ffffff;
$secondary: #021b41;
$dark: #021b41;
$light: #a6c3e0;

// Global styling
a {
  text-decoration: none !important;
}

html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(180deg, #a6c3e0 0%, #2e5c99 49.48%, #021b41 100%);
  overflow-x: hidden !important;
}

// Logo opening animation
.masthead::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: rgb(255, 255, 255); /* white overlay */
  z-index: 5;
  animation: fadeOut 1s ease-in;
  animation-delay: 4s;
  animation-fill-mode: backwards;
  pointer-events: none;
}

.intro-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60%; /* Ensures the image is responsive and fits its container */
  height: auto; /* Maintain aspect ratio */
  z-index: 7;
  opacity: 0;
  // animation: fadeInShrinkMove 5s ease forwards;
  // animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

.hidden {
  display: none;
}

// NAVBAR STUFF

// Removes Bootstrap navbar-toggler image
.navbar-toggler {
  background-image: none !important;
  border: none !important;
  outline: none !important;
}

.navbar {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 50%
    ),
    linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%);
  z-index: 4;
}

.navbar-nav {
  .nav-link {
    color: $primary;
    &:active {
      font-weight: 700 !important;
    }
    &:focus-visible {
      padding: 5px 5px;
      border-radius: 0.2rem;
    }
    &:focus {
      color: #ffffff;
    }
  }
}

.active {
  font-weight: 700 !important;
}

// HEADER

.header {
  background: radial-gradient(
      circle at center,
      transparent 50%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url('../assets/header-image.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  max-height: calc(100vh - 72px) !important;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
  }
}

.banner-section {
  padding: 10rem 0;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  height: auto;
  font-size: 2px;
  letter-spacing: 0.15rem;
  border: 0;
}

// Header Overlay
.header .header-main {
  max-width: 1041px !important;
  z-index: 6;

  hr:nth-child(2) {
    border: 2px solid #ffffff !important;
    // opacity: 1 !important;
    max-width: 870px !important;
    animation: moveInBottom 1s ease-out;
    animation-delay: 4.5s;
    animation-fill-mode: backwards;
  }
  hr:nth-child(3) {
    border: 2px solid #ffffff !important;
    max-width: 718px !important;
    animation: moveInBottom 1s ease-out;
    animation-delay: 4.6s;
    animation-fill-mode: backwards;
  }

  span:first-child {
    font-size: 48px !important;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0em;
    animation-delay: 6s;
    animation: moveInBottom 1s ease-out;
  }

  span:last-child {
    // font-size: 32px !important;
    font-weight: 300 !important;
    line-height: 41px !important;
    letter-spacing: 0em !important;
    font-size: 32px !important;
    text-align: center;
    height: 205px !important;
    animation: moveInBottom 1.5s ease-out;
    animation-delay: 4.7s;
    animation-fill-mode: backwards;
  }
}

// DIVIDER ONE
.action-panel {
  padding: 16px !important;
}

#contact-us {
  padding: 20px !important;
}

// PANELS
#cards-section {
  padding-top: 0 !important;
}

.panel-section {
  h2 {
    font-size: 48px !important;
  }

  p {
    font-size: 26px !important;
    font-weight: 200;
    line-height: 33px;
    letter-spacing: 0em;
  }
}

//  CARDS

.card-container {
  position: relative !important;
  // overflow: hidden;
}

.card-step-1 {
  transform: translateY(-2rem);

  &::after {
    content: '';
    opacity: 0;
    position: absolute;
    width: 470px; /* Outer diameter of the circle */
    height: 470px; /* Outer diameter of the circle */
    bottom: -40%; /* Adjust this value to control the visible segment */
    right: -33%; /* Adjust this value to control the visible segment */
    border: 10px solid #ce220f; /* Adjust border width and color as needed */
    border-radius: 50%; /* Creates the circle shape */
    background: none; /* Ensures the center of the circle is transparent */
    transform: rotate(-0deg); /* Adjust the angle if needed */
    z-index: -1; /* Ensures it sits below the cards */
    clip-path: ellipse(50% 50% at 100% 0%);
  }
}

.card-step-2 {
  transform: translateY(10rem);

  &::after {
    content: '';
    opacity: 0;
    position: absolute;
    width: 470px; /* Outer diameter of the circle */
    height: 470px; /* Outer diameter of the circle */
    bottom: -50%; /* Adjust this value to control the visible segment */
    right: -75%; /* Adjust this value to control the visible segment */
    border: 10px solid #ce220f; /* Adjust border width and color as needed */
    border-radius: 50%; /* Creates the circle shape */
    background: none; /* Ensures the center of the circle is transparent */
    transform: rotate(-0deg); /* Adjust the angle if needed */
    z-index: -1; /* Ensures it sits below the cards */
    clip-path: ellipse(50% 50% at 0% 100%);
  }
}

.card-step-3 {
  transform: translateY(22rem);
}

.card-step-1.no-after::after,
.card-step-2.no-after::after {
  display: none; /* This effectively "removes" the pseudo-element */
}

.adjusted-container {
  margin-bottom: 20rem !important;
}

.charity-card {
  border-radius: 5px !important;
  border: 1px solid #2e5c99 !important;
  background: #fff !important;
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.25) !important;
  min-height: 255px !important;

  .card-link {
    display: flex;
    padding: 12px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 2px solid #a6c3e0;
    background: var(--Corporate-Blue, #2e5c99);
    max-width: fit-content;
  }

  .card-body {
    z-index: 1;
  }

  .line-decoration {
    top: 25%;
    z-index: 0;
    position: absolute;
    width: 200%;
    margin-left: -50%;
    height: 50px;
    transform: rotate(21.773deg);
    stroke-width: 50px;
    background-color: rgba(166, 195, 224, 0.25);
  }
}

.card {
  border: 0 !important;

  .card-img-top {
    height: 260px !important;
    background-position: center !important;
    object-fit: cover;
  }

  h5 {
    font-size: 16px !important;
  }

  p {
    font-size: 16px !important;
  }
}
// TRUSTEE PANEL

.background-img {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover;
}

// ABOUT-US SECTION
.img-wrapper {
  max-height: 250px !important;
}

// FOOTER
footer {
  h3 {
    font-size: 16px !important;
  }

  p {
    font-size: 16px !important;
  }

  a {
    text-decoration: underline !important;
  }
}

#copyright {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 50%
    ),
    linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%);
  z-index: 6;
  h3 {
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    letter-spacing: 0em;
  }
}

// ANIMATIONS

.homepg-card {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.hide {
  display: none;
}

.homepg-card.show {
  opacity: 1;
}

.animate__fadeIn {
  animation: fadeIn 1.5s ease-in-out;
}

.animate__fadeOutShrinkMove {
  animation: fadeOutShrinkMove 3s ease-in-out;
}

.card-container.animate__rotateClockwise90::after {
  animation: rotateClockwise90 1s forwards;
}

.card-container.animate__rotateCounterClockwise90::after {
  animation: rotateCounterClockwise90 1s forwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(35px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes rotateClockwise90 {
  0% {
    opacity: 0;
    transform: rotate(-90deg);
  }

  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes rotateCounterClockwise90 {
  0% {
    clip-path: ellipse(50% 15% at 0% 100%);
    opacity: 0;
    transform: rotate(90deg);
  }

  100% {
    opacity: 1;
    transform: rotate(0deg);
    clip-path: ellipse(50% 50% at 0% 100%);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(1) translate(-50%, -50%);
  }

  100% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
  }
}

@keyframes fadeOutShrinkMove {
  0% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%); /* Centered starting position */
  }

  100% {
    opacity: 0;
    top: 0%;
    left: 25%;
    transform: scale(0.3) translate(-200%, -100%); /* Adjust for more movement */
  }
}

// MEDIA QUERIES

@media (min-width: 990px) {
  #menu-btn {
    display: none !important;
  }

  // TRUSTEE CARD TEXT
  #about-us-section {
    .text-container {
      text-align: left !important;
    }
  }
}

@media (max-width: 767px) {
  // HEADER STUFF
  .header .header-main {
    span:last-child {
      font-size: 20px !important;
      line-height: 35px !important;
    }
  }

  .header .roles {
    font-size: 18px !important;
  }

  // PANEL 1 TEXT
  .panel-section {
    h2 {
      font-size: 32px !important;
    }

    p {
      font-size: 20px !important;
      font-weight: 200;
      line-height: 33px !important;
      letter-spacing: 0em;
    }
  }

  // CARDS
  .card-step-1 .card-step-2 {
    margin-top: 50px !important;
  }

  .adjusted-container {
    margin-bottom: 1rem !important;
  }

  .card-step-1,
  .card-step-2,
  .card-step-3 {
    transform: none !important;

    &::after {
      display: none;
    }
  }

  .homepg-card {
    width: auto !important;
  }
}

@media (max-width: 576px) {
  #cards-section {
    margin-bottom: 5rem !important;
  }

  .card-step-2 {
    margin-top: 24px !important;
  }
}
